</body>
<hr>
<footer style="text-align: center">
    For explanation of these calculations, please refer to the <a
            href="https://wiki.proofpoint.com/wiki/pages/viewpage.action?pageId=161358240">hardware order calculation wiki</a>.
</footer>
<br>
</html>