a {
    color: #00B7FF;
}

input {
    border: none !important;
    width: 100%;
    height: 70%;
}

textarea {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 60% !important;
}

/*table td input {*/
/*position: absolute;*/
/*display: block;*/
/*top:0;*/
/*left:0;*/
/*margin: 0;*/
/*height: 100%;*/
/*width: 100%;*/
/*border: none;*/
/*padding: 10px;*/
/*box-sizing: border-box;*/
/*}*/